name: Deploy to OSS
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.OSS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
        aws-region: ${{ secrets.OSS_REGION }}
    
    - name: Upload to OSS
      run: |
        # 使用 --update 参数，只上传更新或新增的文件
        ossutil cp -r ./dist/ oss://qiancheng-guess-song/ --update
